.map-style {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 80vh;
}

.drawing-controls {
  position: absolute;
  bottom: 15vh;

}

.drawing-controls button {
  padding: 1em;
  margin: .2em;
  color:white;
  border: none;
  background-color:#673AB7
}